.logo {
  background: url(../../assets/img/login.png) no-repeat 6% 50%;
  background-size: 27px;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  text-align: center;
}

.exit {
  float: right;
  margin-right: 20px;
  color: #a3a3a3;
  font-weight: 700;
}

.exit:hover {
  color: #00a1f9;
}

.site-layout .site-layout-background {
  background: #fff;
  box-shadow: -1px -1px 5px 0 rgb(0 0 0 / 10%);
}